<header>
  <nav
    class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3"
  >
    <div class="container">
      <a class="navbar-brand" [routerLink]="['/Dashboard']">JayHawk+</a>
      <button
        class="navbar-toggler"
        type="button"
        data-toggle="collapse"
        data-target=".navbar-collapse"
        aria-label="Toggle navigation"
        [attr.aria-expanded]="isExpanded"
        (click)="toggle()"
      >
        <span class="navbar-toggler-icon"></span>
      </button>
      <div
        class="navbar-collapse collapse d-sm-inline-flex flex-sm-row-reverse"
        [ngClass]="{ show: isExpanded }"
      >
        <ul class="navbar-nav flex-grow">
          <li
            class="nav-item"
            [routerLinkActive]="['link-active']"
            [routerLinkActiveOptions]="{ exact: true }"
          >
            <a class="nav-link text-dark" [routerLink]="['/login']">Sign Out</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>
</header>
<body>
  <div id="buttonstuff">
    <button class="anybutton" mat-fab>Appointments</button>
    <button class="anybutton" mat-fab>Reports</button>
    <button class="anybutton" mat-fab>1 to 1 Meeting</button>
    <button class="anybutton" mat-fab>Profile</button>
  </div>
  <br />
  <h1>Calendar</h1>
  <div><ejs-schedule [eventSettings]="eventData"></ejs-schedule></div>
  <h1>Notes</h1>
  <p>Insert Notes</p>
</body>
